body {
  margin: 0;
  font-family: "Roboto";
}

body.body-mod {
  overflow: hidden;
}

header {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 10px 1px grey;
          box-shadow: 0px 0px 10px 1px grey;
}

.header-top {
  text-align: right;
  background: rgb(244, 244, 244);
  text-transform: uppercase;
  color: rgb(170, 170, 170);
  font-size: max(10px, 1vw);
  padding-right: 2.0833333333%;
}

.top-text {
  display: inline-block;
  padding: 0.93em 0;
  margin-right: 1.8em;
}

.top-text:last-child {
  margin-right: 0;
  padding-right: 1.8em;
  position: relative;
}

.top-text:last-child:before, .top-text:last-child:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 8px;
  height: 1px;
  opacity: 0.9;
  border-radius: 5px;
  background: rgb(170, 170, 170);
}

.top-text:last-child:before {
  right: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.top-text:last-child:after {
  right: 5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;
  padding: 1.7361111111% 2.0833333333% 1.7361111111% 0;
}

.burger {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 2.7777777778%;
}

.burger span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background: grey;
}

@media (max-width: 768px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo {
  margin-left: 7.9861111111%;
}

.nav-links {
  width: 69.4444444444%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.8);
    color: orange;
    font-size: max(10px, 1vw);
    letter-spacing: 4px;
  }

  .nav-links.activeMod {
    left: 0;
  }
}

.activeMod {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 27.7777777778%;
}

@media (max-width: 768px) {
  .nav-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.nav-items a {
  margin-left: 15px;
}

.nav-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .nav-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -20px -45px 50px 0;
  }
}

.location {
  position: relative;
  margin-right: 3vw;
}

.location img {
  position: absolute;
  top: -50%;
  left: -50%;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 3.7593984962%;
}

.first-frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.frame-2 {
  padding-top: max(20px, min(8vw, 80px));
  padding-bottom: max(25px, min(10vw, 100px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-weight: 400;
}

.frame-2-left {
  font-family: "Roboto";
  font-size: max(24px, min(3.3333333333vw, 48px));
  line-height: 1.2083333333;
  max-width: 26.6917293233%;
}

.frame-2-right {
  font-size: max(12px, min(1.6666666667vw, 24px));
  line-height: 2;
  max-width: 42.8571428571%;
  color: rgb(170, 170, 170);
}

.card-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.card-item {
  margin: 0 auto;
  margin-bottom: 2.0833333333%;
}

.card-pic {
  max-width: 588px;
  max-height: 412px;
}

.card-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-text {
  margin-top: 0.3472222222%;
  font-size: max(12px, min(1.6666666667vw, 24px));
  line-height: 1.1666666667;
  font-weight: 400;
}

.form3 {
  margin-top: 16.6666666667%;
  text-align: center;
  font-weight: 400;
}

.form3__title {
  font-size: max(24px, min(3.3333333333vw, 48px));
  line-height: 1;
}

.form3__text {
  font-size: max(12px, min(1.6666666667vw, 24px));
  line-height: 1.5;
  margin-top: 1.875%;
  color: rgb(74, 74, 74);
}

.brands {
  margin: 8.6805555556% auto 16.6666666667%;
  max-width: 1150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brand {
  width: max(120px, min(15.2%, 190px));
  padding: 7px;
}

.container2 {
  overflow: hidden;
  width: 100%;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-arrow {
  visibility: hidden;
}

.slick-item {
  width: 93.3333333333%;
}

.slick-item img {
  width: 100%;
}

.slick-dots {
  margin: 1.5972222222% auto 5.5555555556%;
  max-width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slick-dots li {
  list-style: none;
}

.slick-dots button {
  font-size: 0px;
  width: 12px;
  height: 12px;
  background: rgb(229, 229, 229);
  border: 1px solid black;
  border-radius: 50%;
}

.slick-dots button:focus {
  background: rgb(70, 133, 110);
}

.section-4 {
  max-width: 1080px;
  margin: 0 auto;
}

.section-4__text {
  font-size: max(24px, min(3.3333333333vw, 48px));
  line-height: 1.1666666667;
  margin-bottom: 25px;
}

.section-4__link {
  color: rgb(70, 133, 110);
  font-size: max(7px, min(0.9722222222vw, 14px));
  line-height: 0.8571428571;
}

.section-4__container {
  max-width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container__item {
  padding-top: 4.8611111111%;
  max-width: 325px;
  margin: 0 auto;
}

.container__img {
  text-align: center;
}

.container__description {
  margin-top: 25px;
  font-size: max(12px, min(1.6666666667vw, 24px));
  line-height: 1;
}

.container__text {
  margin-top: 18px;
  font-size: max(8px, min(1.1111111111vw, 16px));
  line-height: 1.5;
  color: rgb(170, 170, 170);
}